<nav class="navbar navbar-default" role="navigation">
  <div class="container">  

    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Brandname
    ==========================================-->
    <div class="navbar-header">      
      <a class="navbar-brand" href="{{ path('blog_homepage2') }}">The blog</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <!-- Nom utilisateur et menu
      ==========================================-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {% if is_granted("ROLE_USER") %}
            > {{app.user.username}}
          {% else %}
            > Anonyme
          {% endif %}
          <span class="caret"></span>
        </a>
        <!-- Menu
        ==========================================-->
        <ul class="dropdown-menu" role="menu">          
          <li><a href="{{ path('blog_homepage2') }}">Accueil</a></li>
          {% if is_granted("ROLE_USER") %}
            <li><a href="logout">Se déconnecter</a></li>
          {% else %}
            <!-- Button trigger modal -->
            <li><a data-toggle="modal" data-target="#myLoginModal">Se connecter</a></li>
            <li><a href="register">S'inscrire</a></li>
          {% endif %}   
        </ul>
      </li>      
    </ul>
  </div><!-- /.container -->
</nav>