{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="container_mc">
	    <div class="alert alert-success" role="alert">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</div>
	    {% if app.session is not empty %}
	        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
	        {% if targetUrl is not empty %}
	        	<div class="alert alert-success" role="alert">
  					<a href="{{ targetUrl }}" class="alert-link">{{ 'registration.back'|trans }}</a>
				</div>
	        {% endif %}
	    {% endif %}
	</div>
{% endblock fos_user_content %}